h1,
h2,
p,
span {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 28px;
	/* color: #219c90; */
	text-align: center;
	font-family: 'Kode Mono', monospace;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	letter-spacing: 2px;
	font-style: italic;
	margin: 24px;
	padding: 0 10px;
}
.TodoForDoDark {
	color: #06e899;
}
.TodoForDoLight {
	color: #000000;
	text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}
h2 {
	font-size: 18px;
	/* color: #219c90; */
	text-align: center;
	font-family: 'Kode Mono', monospace;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-style: italic;
	letter-spacing: 2px;
	text-wrap: balance;
}
p {
	font-size: 18px;
}
.NumbersTodo {
	color: #06e899;
	padding: 4px 10px;
	margin: 4px 0px 4px 0px;
	width: 78%;
	height: 80px;
	box-sizing: border-box;
	text-overflow: ellipsis;
	overflow: hidden;
}
.NumbersTodoLight {
	color: #000000;
	text-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}
li {
	list-style-type: none;
}
.lightModeBody {
	background-color: #f5f5f5;
}
.lightModeItem {
	color: #f5f5f5;
}
.darkModeItem {
	color: #1e2229;
}
.completed {
	text-decoration: line-through;
	color: #a3a9a3;
}
div.TodoSystem {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: auto;
	background-color: #1e2229;
	border-radius: 24px;
	position: relative;
}
div.TodoSystemLight {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: auto;
	background-color: #cfd1d4;
	border-radius: 24px;
	position: relative;
}

div.TodoInfoAndSearch {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
}
input.TodoSearch {
	width: 78%;
	border: none;
	background-color: #282c34;
	color: aliceblue;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	outline: none;
	box-shadow: none;
}
input.TodoSearchLight {
	background-color: #ffffff;
	color: #282c34;
}
/* input.Something::placeholder {
	color: #999999;
} */

button.ToggleTheme {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	left: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 50%;
	outline: none;
	box-shadow: none;
	border: none;
}
.lightToggle {
	background-color: #fff;
	color: #000000;
}
.darkToggle {
	background-color: #000000;
	color: #fff;
}

/* button.ToggleTheme:hover {
	background-color: #fff;
	color: #1e2229;
} */
ul.TodoList {
	display: flex;
	flex-direction: column;
	width: 78%;
	height: auto;
	padding: 0;
	align-items: center;
}
li {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #282c34;
	color: #ffffff;
	font-size: 18px;
	position: relative;
	width: inherit;
	margin: 5px;
	overflow: hidden;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
li.TodoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	border: none;
}
li.TodoItemLoading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	width: 100%;
	height: 80px;
	background-color: #282c34;
}
li.TodoItemLight {
	background-color: #ffffff;
}
span.todoSuccess {
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}
span.todoSuccess:hover {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
span.todoSuccess:active {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
span.todoSuccessLoading {
	display: block;
	width: 20px;
	height: 20px;
	display: block;
	background-color: #1e2229;
	border-radius: 20%;
}
span.todoSuccessLoadingLight {
	background-color: #cfd1d4;
}

p.todoText {
	color: aliceblue;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-wrap: balance;
}
p.todoTextLight {
	color: #282c34;
}

span.todoConclude {
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}
span.todoConclude:hover {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

span.todoConclude:active {
	filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
span.todoConcludeLoading {
	width: 20px;
	height: 20px;
	display: block;
	background-color: #1e2229;
	border-radius: 20%;
}
span.todoConcludeLoadingLight {
	background-color: #cfd1d4;
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	border: none;
	outline: none;
}
button.AddTodo {
	background-color: #eb3678;
	color: white;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	font-size: 24px;
	margin-bottom: 12px;

	border-radius: 50%;
}
button.AddTodo:hover {
	background-color: #ff5797;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
div.todoModalBackground {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
form.CreateTodoForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 220px;

	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	background-color: #1e2229;
}
form.CreateTodoFormLight {
	background-color: #cfd1d4;
}
p.textCreateTodo {
	color: aliceblue;
}
p.textCreateTodoLight {
	color: #000;
}
button.closeModal {
	position: absolute;
	font-size: 20px;
	font-style: italic;
	font-weight: 600;
	font-family: system-ui;
	right: 0;
	top: 0;
	background: none;
	width: 40px;
	color: #f00;
	border-radius: 0 10px 0 4px;
}
button.closeModal:hover {
	background-color: #f00;
	color: #fff;
}
input.inputCreateTodo {
	width: 64%;
	height: 38px;
	outline: none;
	border: 1px solid #aeaeae;
	border-radius: 8px;
	margin: 20px 20px 12px 20px;
	padding: 0 10px;
	font-size: 16px;
}
button.buttonCreateTodo {
	width: 24%;
	height: 32px;
	background-color: #eb3678;
	border-radius: 8px;
	font-size: 14px;
	color: #fff;
}
button.buttonCreateTodo:hover {
	background-color: #ff5797;
}

/* #1e2229 */
@media (max-width: 440px) {
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
	input.Something {
		font-size: 14px;
	}
	input.TodoSearch {
		font-size: 16px;
	}
	p {
		font-size: 12px;
	}
	button.ToggleTheme {
		width: 32px;
		height: 32px;
		font-size: 14px;
	}
	li.TodoItem {
		font-size: 16px;
		height: 60px;
	}
	li.TodoItemLoading {
		height: 60px;
	}

	button.AddTodo {
		width: 48px;
		height: 48px;
		font-size: 16px;
	}
}
